<% provide(:title, 'New question') %>
<% provide(:button_text, 'Create question') %>

<%= render 'all_questions' %>

<h1 class="center">Aid-Interview</h1>

<div class="row">
  <div class="form-group">
    <%= render 'form' %>
  </div>
</div>
