<%= render 'all_questions' %>
<h1 class="center">Aid-Interview</h1>
<div class="center">
  <strong >Topic:</strong>
  <%= @question.topic.title %>
</div>
<div>
<p class="center">
  <strong >Text:</strong>
  <%= @question.content %>
</p>
</div>
<p class="center"><%= link_to 'Edit', edit_question_path(@question) %></p>
