<%= render 'all_questions' %>
<h1 class="center">Aid-Interview</h1>
<div>
  <p class="center">
    <strong >Question:</strong>
    <%= @question.content %>
  </p>
</div>
<div>
  <p class="center">
    <strong >Answer:</strong>
    <%= @question.answer %>
  </p>
</div>
<p class="center"><%= link_to 'Edit', edit_question_path(@question) %></p>
