h1
  = @topic.title
.row
  .col-sm-1
    = link_to 'Edit topic', edit_topic_path, class: 'btn btn-primary'
  .col-sm-1
    = link_to 'Delete topic', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
table
  tr
    th
      | Content
    th
      | Text
  = render @questions
