<h1>Topic: {{topic.title}}</h1>
  <div class="row">
    <div class="col-sm-6 col-sm-push-3">
      <%= render 'layouts/messages' %>
    </div>
  </div>
    <form ng-submit="AddTopic()">
    <div class="field">
      <label for="topic_title">Title</label>
      <input class="form-control ng-pristine ng-untouched ng-valid" placeholder="Enter topics title" data-ng-model="topic.title" type="text" name="topic[title]" id="topic_title"/>
      <label for="topic_image">Image</label>
      <br>
      <div class="fileUpload btn btn-primary col-sm-3" >
        <span>Upload</span>
        <input name="file" type="file" class="upload" file />
      </div>
      
      <input type="submit" name="commit" value="Confirm" class="btn btn-md btn-success col-sm-6 col-sm-offset-3">
    </div>
    </form>
     