<% provide(:title, 'Edit topic') %>

<div class="container content-area">
  <div class="form-group" ng-app="topicApp" ng-controller="topicEditCtrl">
  <h1>Topic: {{topic.title}}</h1>
    <form ng-submit="editTopic(topic)">
    <div class="field">
    <%= hidden_field_tag :topic_id, @topic.id, "ng-model" => "topic.id" %>
    <%= render 'form' %>
  </div>
</div>
