.sidebar
  = link_to 'Logout', destroy_user_session_path, method: :delete
  %br/
  - if current_user.admin?
    You are admin
    %br/
    = link_to 'Manage things', admin_users_path
  - else
    You are interviwer