<div>
    <h1>All templates</h1>
    <div class="row">
        <div class="col-sm-6 col-sm-push-3">
            <!--for messages -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <a ng-href="#/new" class='btn btn-md btn-success'>Create new template</a>
        </div>
        <div class="col-sm-4 search-field">
            <input type="text" ng-model="search" placeholder="Search" class="form-control"/>
        </div>
        <div class="dropdown col-sm-4">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sort by
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-click="orderByMe('created_at', true)"><a href="">Newest</a></li>
                <li ng-click="orderByMe('created_at', false)"><a href="">Oldest</a></li>
                <li ng-click="orderByMe('title', false)"><a href="">Ascending</a></li>
                <li ng-click="orderByMe('title', true)"><a href="">Descending</a></li>
            </ul>
        </div>
    </div>

    <dir-pagination-controls auto-hide="false" class="col-sm-12 center" ></dir-pagination-controls>
    <br>
    <table class='table table-bordered table-hover'>
        <tr class='active'>
            <th class="col-sm-4">
                <h4>Name</h4>
            </th>
            <th class="col-mdsm-4" colspan="3" width="5%">
                <h4>Action</h4>
            </th>
        </tr>
        <tr class="info" dir-paginate="t in filteredTemplates = (templates | filter: search) | orderBy:myOrderBy:order | itemsPerPage:templatesOnPage ">
            <td>
                <a ng-href="#/{{t.id}}">{{t.name}}</a>
            </td>
            <td>
                <a class='btn btn-sm btn-primary glyphicon glyphicon-edit' ng-href="#/{{t.id}}/edit"></a>
            </td>
            <td>
                <a class='btn btn-sm btn-danger glyphicon glyphicon-remove' ng-click="removeTemplate(t)"></a>
            </td>
        </tr>
    </table>
</div>
