<div>
    <h1> {{template.name}}</h1>
    <div class="row">
        <div class="col-md-12 btn-group">
            <a ng-href="#/{{template.id}}/edit" class='btn btn-warning'>Edit template</a>
            <a ng-click="removeTemplate(template)" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <br>
    <table class='table table-bordered table-hover' ng-model="template.questions">
        <tr class="active">
            <th><h4> Question</h4></th>
        </tr>
        <tr ng-repeat="x in template.questions">
            <td>{{x}}</td>
        </tr>
    </table>
</div>
