<h1> {{topic.title}}</h1>
<div class="row" ng-if="alert">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="alert alert-{{alert.type}} alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{alert.text}}
    </div>
  </div>
</div>
<div class="row"> 
  <div class="col-md-4 col-sm-6 col-xs-12 btn-group"> 
    <a ng-href="/admin/questions#/new" class='btn btn-success'>
      <i class="glyphicon glyphicon-comment"></i> Add question
    </a>
    <a ng-href="#/{{topic.id}}/edit" class='btn btn-warning'>
      <i class="glyphicon glyphicon-edit"></i> Edit</a>
    <a ng-click="removeTopic(topic)" ng-if="!questions.length > 0" class="btn btn-danger">
      <i class="glyphicon glyphicon-remove"></i> Delete</a>
  </div>
  <div class="col-md-4 col-sm-6 col-xs-12 search-field" ng-show="questions.length > 0">
    <div class='input-group' >
      <div class='input-group-addon'>
        <i class='glyphicon glyphicon-search'></i>
      </div>
      <input class='form-control' type="text" placeholder="Search" ng-model="search">
    </div>
  </div>
</div>
<br>    
<dir-pagination-controls auto-hide="false" class="col-xs-12 center" 
ng-show="questions.length > 0"></dir-pagination-controls>
  <div class="table-responsive topic-table custom-table" ng-if="questions.length > 0">
    <table class='table' >
      <tr >
        <th width="8%">
          <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">
             <h4>id
               <span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
               <span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
             </h4>
          </a>
        </th>
        <th width="67%">
          <a href="" ng-click="sortType = 'content'; sortReverse = !sortReverse">
            <h4>Question
              <span ng-show="sortType == 'content' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'content' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
             </h4>
          </a>
        </th>
        <th width="15%">
          <a href="" ng-click="sortType = 'level'; sortReverse = !sortReverse">
            <h4>Level
              <span ng-show="sortType == 'level' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'level' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </h4>
           </a>
        </th>
        <th width="10%" colspan="2"><h4> Action</h4></th>
      </tr>
      <tr dir-paginate="q in questions | filter: search | itemsPerPage:questionsOnPage | orderBy:sortType:sortReverse">
        <td> <a ng-href="/admin/questions#/{{q.id}}">{{q.id}}</a></td>
        <td> <a ng-href="/admin/questions#/{{q.id}}">{{q.content | limitTo : 50}}</a></td>
        <td> 
          <a ng-href="/admin/questions#/{{q.id}}" title="{{q.level}}">
           <div class="progress">
             <div class="progress progress-bar custom-progress-bar-{{q.level}}">
             </div>
           </div>
          </a>
        </td>
        <td> <a class="btn btn-sm btn-primary" title="edit" ng-href="/admin/questions#/{{q.id}}/edit"><i class="glyphicon glyphicon-edit"></i></a>
        </td>
        <td>
         <a title="delete" class='btn btn-sm btn-danger' ng-click="deleteQuestion(q)"><i class="glyphicon glyphicon-remove"></i></a>
       </td>
      </tr>
    </table>
  </div>
      <dir-pagination-controls auto-hide="false" ng-show="questions.length > 0" class="col-xs-12 center bottom-paginator" ></dir-pagination-controls>
