<div ng-init="getQuestions(1)" ng-controller="PaginCtrl">
  <h1>All questions</h1>
  <form>
    <div class='form-group input-group'>
      <div class='input-group-addon'>
        <i class='glyphicon glyphicon-search'></i>
      </div>
      <input class='form-control' type="text" placeholder="Search question" ng-model="searchQuestion">
    </div>
  </form>
  <div class='row'>
    <div class='col-sm-4'>
      <a ng-href="#/new" class='btn btn-md btn-success'>Create new question</a>
    </div>
    <div class="pull-right table-pagination">
      <my-pagination total_pages="total_pages" current_page="current_page" action="getQuestions(page)"></my-pagination>
    </div>
  </div>
  <div class='table-responsive custom-table'>
    <table class='table'>
      <tr>
        <th width="5%">
          <a href="" ng-click="sortType = 'id'; sortReverse = !sortReverse">
            <h4>id
              <span ng-show="sortType == 'id' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'id' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </h4>
          </a>
        </th>
        <th width="10%">
          <a href="" ng-click="sortType = 'topic'; sortReverse = !sortReverse">
            <h4>Topic
              <span ng-show="sortType == 'topic' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'topic' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </h4>
          </a>
        </th>
        <th width="50%">
          <a href="" ng-click="sortType = 'content'; sortReverse = !sortReverse">
            <h4>Question
              <span ng-show="sortType == 'content' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'content' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </h4>
          </a>
        </th>
        <th width="15%">
          <a href="" ng-click="sortType = 'level'; sortReverse = !sortReverse">
            <h4>Level
              <span ng-show="sortType == 'level' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
              <span ng-show="sortType == 'level' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
            </h4>
          </a>
        </th>
        <th colspan="2" width="3%">
          <h4>Action</h4>
        </th>
      </tr>
      <tr ng-repeat="question in questions | filter:searchQuestion | orderBy:sortType:sortReverse">
        <td>
          <a ng-href="#/{{question.id}}">{{question.id}}</a>
        </td>
        <td>
          <a ng-href="/admin/topics#/{{question.topic_id}}">{{question.topic.title}}</a>
        </td>
        <td>
          <a ng-href="#/{{question.id}}">{{question.content | limitTo : 70}}</a>
        </td>
        <td>
          <a ng-href="#/{{question.id}}">
            <div class="progress">
              <div class="progress progress-bar custom-progress-bar-{{question.level}}"></div>
            </div>
          </a>
        </td>
        <td>
          <a class='btn btn-sm btn-primary' ng-href="#/{{question.id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
        </td>
        <td>
          <a class='btn btn-sm btn-danger' ng-click="removeQuestion(question)">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>