<div ng-controller='QuestionNewCtrl'>
  <h1 class='center'>New question</h1>
    <form ng-submit="addQuestion()">
      <label for="topicSelect">Topic</label>
      </br>
      <select required name="topicSelect" data-ng-model="question.topic_id" ng-options="topic.id as topic.title for topic in topics" class="form-control">
        <option value="" >-- choose topic --</option>
      </select>
      </br>
      <label for='questionLevel'>Level</label>
      <div class='form-group'>
        <div class="btn-group" name='questionLevel'>
          <input class="btn btn-default" type="button" data-ng-model="question.level" value="beginner" uib-btn-radio="'beginner'">
          <input class="btn btn-default" type="button" data-ng-model="question.level" value="good" uib-btn-radio="'good'">
          <input class="btn btn-default" type="button" data-ng-model="question.level" value="strong"uib-btn-radio="'strong'">
        </div>
      </div>
      <label for='questionContent'>Question</label>
      <textarea required name='questionContent' data-ng-model="question.content" type="text" placeholder="Write a question" class='form-control' rows='6'></textarea>
      <label for='questionAnswer'>Answer</label>
      <textarea required  name='questionAnswer' data-ng-model="question.answer" type="text" placeholder="Write an answer" class='form-control' rows='6'></textarea>
      <input type='submit' value='Save question' class="btn btn-md btn-success col-md-4 col-md-offset-4">
    </form>
  </div>
</div>
