doctype html
html[lang="en"]
  head
    title
      = full_title(content_for(:title))
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    link[href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"]
  body
    = render 'layouts/header'
    .intro-header
      .container
        .row
          .col-lg-12
            .intro-message
              = render 'layouts/messages'
              = yield
    = render 'layouts/footer'
